.grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  max-width: 700px;
}

.gridItem {
  position: relative;
}

.gridCaption {
  color: var(--halo-gray);
  font-family: var(--font-body);
  font-size: var(--text-sm);
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-top: 0.75rem;
  text-align: center;
}

@media (--tablet-viewport) {
  .grid {
    gap: 2.5rem;
  }

  .gridCaption {
    font-size: var(--text-sm);
  }
}
